<!--부트스트랩에서 전부 긁어오고 세부사항만 조금씩 바뀜-->

<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark"> <!--네비게이션바-->
    <!--클래스: 버튼클래스를 나타냄-->
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!--ul의 div-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/book">도서검색</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/local">지역검색</a>
          </li>
        </ul>  
      </div>
    </div>
</nav>
